<ul class="admin__menu">
    <li class="admin__item">
        <button class="btn"
                type="button"
                (click)="changeRoute('users')">
            <img    src="assets/media/icons/user.png" 
                    alt="Usuarios"
                    class="icon">
            Usuarios
        </button>
    </li>
    <li class="admin__item">
        <button class="btn"
                type="button"
                (click)="changeRoute('companies')">
            <img    src="assets/media/icons/companies.png" 
                    alt="Usuarios"
                    class="icon">
            Compañias
        </button>
    </li>
    <li class="admin__item">
        <button class="btn"
                type="button"
                (click)="changeRoute('categories')">
            <img    src="assets/media/icons/category.png" 
                    alt="Usuarios"
                    class="icon">
            Categorias
        </button>
    </li>
    <li class="admin__item">
         <button class="btn"
                type="button"
                (click)="changeRoute('colors')">
            <img    src="assets/media/icons/colors.png" 
                    alt="Usuarios"
                    class="icon">
            Colores
        </button>
    </li>
</ul>