.container{
    display: flex;
    flex-flow: ro-reverse;
    position: fixed;
    top: 50%;
    right: .5rem;
    color: #1f1f1f;
    transition: transform .3s;

    width: 100%;
    min-width: 10rem;
    max-width: 15rem;
}
.filtro__hidden{
    transform: translateX(90%);
}
.filtro__form{
    width: 100%;
    background-color: #ffff;
    /* border-top-right-radius: 10px; */
    box-shadow: 5px 0px 10px 0px #7777;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.control{
    padding: .5rem 1rem;
}
.title{
    padding: 0;
    margin: 0;
}
.options:not(:last-child){
    margin-bottom: 1rem;
}
.btn__limpiar{
    width: 100%;
    margin-top: 1rem;
    background-color: #1976d2;
    border: none;
    color: #ffff;
    padding: .5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn__expanded{
    background-color: #fff;
    padding: 1rem .2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -5px 0px 10px -5px #777;
    overflow: hidden;
}
.btn_expanded_animation{
    /* animation: filtroButtonAnimation; */
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: .5s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes filtroButtonAnimation {
    0%{
        transform: translateX(3px);
    }
    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(3px);
    }
    75%{
        transform: translateX(0);
    }
    95%{
        transform: translateX(3px);
    }
}