<div class="container">
    <form   [formGroup]="newColor"
            class="form">
        <img src="assets/media/icons/close.png" alt=""
            class="close__icon"
            (click)="onCloseModal()">
        <h2 class="title">Nuevo Color</h2>
        <div class="control">
            <input  type="hidden"
                    class="input__text"
                    formControlName="id">
        </div>
        <div class="control">
            <label  for=""
                    class="label">Código</label>
            <input  type="text"
                    class="input__text"
                    formControlName="code">
        </div>
        <div class="control">
            <label  for=""
                    class="label">Descripción (español):</label>
            <input  type="text"
                    class="input__text"
                    formControlName="desc_es">
        </div>
        <div class="control">
            <label  for=""
                    class="label">Descripción (ingles):</label>
            <input  type="text"
                    class="input__text"
                    formControlName="desc_en">
        </div>
        <div class="control">
            <label  for=""
                    class="label">Color (Hex.)</label>
            <input  type="text"
                    class="input__text"
                    formControlName="hex_code">
        </div>
        <!-- <div class="control">
            <label  for=""
                    class="label">Marca</label>
            <select formControlName="company_id">
                <option [value]="company.id"
                        *ngFor="let company of companies">
                    {{ company.short_desc }}
                </option>
            </select>
        </div> -->
        <div class="control">
            <label  for=""
                    class="label">Categoria</label>
            <select formControlName="category_id">
                <option *ngFor="let category of categories"
                        [value]="category.id">
                    {{ category.short_desc }}
                </option>
            </select>
        </div>
        <div class="buttons">
            <button class="btn btn__accept"
                    type="button"
                    (click)="onSaveColor()">Aceptar</button>
            <button class="btn btn__cancel"
                    type="button"
                    (click)="onCloseModal()">Cancelar</button>
        </div>
    </form>
</div>