.container{
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    z-index: 999;
    background: rgba(0, 0, 0, .7);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 2rem;
    color: #fff;
}
.control{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem 0;
}
.label{
    color: #ffff;
}
.input__text{
    border: none;
    border-bottom: 1px solid #fff;
    outline: #777;
    color: #fff;
    background-color: transparent;
}
.buttons{
    margin: 1rem 0;
    display: grid;
    grid-gap: .7rem;
}
.btn{
    border: none;
    background-color: transparent   ;
    padding: .6rem 1rem;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color .4s, color .3s, transform .3s;
}
.btn__accept{
    background-color: dodgerblue;
    color: #fff;
}
.btn__accept:hover, .btn__cancel:hover{
    cursor: pointer;
    /* transform: translateY(-2px); */
}
.btn__accept:hover{
    background-color: mediumslateblue;
}
.btn__cancel{
    border: 1px solid #aaa;
    color: #aaa;
}
.btn__cancel:hover{
    cursor: pointer;
    background-color: #7777;
    color: #fff;
}