.container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    z-index: 999;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #fff;
    width: 80%;
    max-width: 20rem;
    padding: 1rem;
    position: relative;
    border-radius: 5px;
}
.close__icon{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.5rem;
    transition: transform .2s;
    padding: .3rem;
    border-radius: 5px;
}
.close__icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #7777;
    box-shadow: 5px 5px 10px -5px #7777;
}
.title{
    margin-top: 2rem;
    color: #777;
}
.control{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem 0;
}
.label{
    color: #777;
}
.input__text{
    border: none;
    border-bottom: 1px solid #777;
    outline: #777;
    color: #777;
    background-color: transparent;
}
.buttons{
    margin: 1rem 0;
    display: grid;
    grid-gap: .7rem;
}
.btn{
    border: none;
    background-color: transparent   ;
    padding: .6rem 1rem;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color .4s, color .3s, transform .3s;
}
.btn__accept{
    background-color: dodgerblue;
    color: #fff;
}
.btn__accept:hover, .btn__cancel:hover{
    cursor: pointer;
    /* transform: translateY(-2px); */
}
.btn__accept:hover{
    background-color: mediumslateblue;
}
.btn__cancel{
    border: 1px solid #aaa;
    color: #aaa;
}
.btn__cancel:hover{
    cursor: pointer;
    background-color: #7777;
    color: #fff;
}