<div class="container">
    <app-modal-add-edit-category (addCategory)="onAddCategory($event)"
                                (updateCategory)="onUpdateCategory($event)"
                                (closeModal)="onCloseModal()"
                                [currentCategory]="currentCategory"
                                *ngIf="openModal">
    </app-modal-add-edit-category>
    <button type="button"
            (click)="onOpenModal()"
            class="btn__addColor">Nuevo</button>
    <table class="table">
        <thead>
            <th class="id_column">ID</th>
            <th>Descripcion</th>
            <th>Descr. Corta</th>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td class="id_column">
                    <app-actions    (edit)="onUpdateCategory(category)"
                                    (delete)="onDeleteCategory(category)">
                    </app-actions>
                </td>
                <td>{{ category.desc }}</td>
                <td>{{ category.short_desc }}</td>
            </tr>
        </tbody>
    </table>
</div>