<div class="container">
    <app-modal-add-edit-color   (addColor)="onAddColor($event)"
                                (closeModal)="onCloseModal()"
                                *ngIf="openModal"
                                [currentColor]="currentColor">
    </app-modal-add-edit-color>
    <button type="button"
            (click)="onOpenModal()"
            class="btn__addColor">Nuevo</button>
    <table class="table">
        <thead>
            <th class="id_column">Acciones</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Color</th>
        </thead>
        <tbody>
            <tr *ngFor="let color of colors">
                <!-- <td class="id_column">{{ color.id }}</td> -->
                <td>
                    <ul class="actions">
                        <li class="actions__item"
                            (click)="onEditColor(color)">
                            <img    src="assets/media/icons/edit.png" 
                                    alt=""
                                    class="action__icon">
                        </li>
                        <li class="actions__item"
                            (click)="onDeleteColor(color)">
                            <img    src="assets/media/icons/delete.png" 
                                    alt=""
                                    class="action__icon">
                        </li>
                    </ul>
                </td>
                <td>{{ color.code }}</td>
                <td>{{ color.desc_en }}<br>
                {{ color.desc_es }}</td>
                <td [style.background]="color.hex_code">{{ color.hex_code }}</td>
            </tr>
        </tbody>
    </table>
</div>