<div class="container">
    <app-modal-add-edit-color (addColor)="onAddColor($event)">
    </app-modal-add-edit-color>
    <table class="table">
        <thead>
            <th class="id_column">ID</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Color</th>
        </thead>
        <tbody>
            <tr *ngFor="let color of colors">
                <td class="id_column">{{ color.id }}</td>
                <td>{{ color.code }}</td>
                <td>{{ color.desc_en }}<br>
                {{ color.desc_es }}</td>
                <td [style.background]="color.hex_code">{{ color.hex_code }}</td>
            </tr>
        </tbody>
    </table>
</div>