<div class="companies__menu">
    <ul class="companies">
        <li class="company">
            <img    src="assets/media/logos/vallejo_logo.png" 
                    alt="Logo Vallejo" 
                    class="company__logo logo__vallejo"
                    (click)="changeRoute('Vallejo')">
        </li>
        <li class="company">
            <img    src="assets/media/logos/ak_logo.png" 
                    alt="Logo AK" 
                    class="company__logo"
                    (click)="changeRoute('AK')">
        </li>
        <li class="company" 
            (click)="changeRoute('Citadel')">
            <img    src="assets/media/logos/citadel_logo.png" 
                alt="Logo Citadel"
                class="company__logo">
    </li>
    </ul>
</div>