.container__color{
    width: 100%;
    display: grid;
    /* margin-bottom: .0rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    box-sizing: border-box;
    transition: transform .2s;
    box-shadow: 0px 2px 20px -15px #777;
    padding: .5rem 0;
}
.info{
    font-size: medium;
    color: #777;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    position: relative;
}
.list{
    list-style: none;
    margin: 0;
    padding: .5rem;
}
.actions{
    width: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: .2rem;
}
.color__image{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.color__image:hover{
    cursor: pointer;
}
.favourite__icon{
    width: 1.1rem;
    transition: transform .3s;
}
.favourite__icon:hover{
    cursor: pointer;
    animation-name: favanimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.level__container{
    height: .5rem;
    width: 1.5rem;
    border: 1px solid #1f1f1f;
    border-radius: 2px;
}
.color__level{
    width: 1px;
    height: 100%;
    transition: width .5s;
}
.level__container{
    transition: transform .3s;
}
.level__container:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.color__level-green{
    background-color: green;
}
.color__level-greenyellow{
    background-color: greenyellow;
}
.color__level-orange{
    background-color: orange;
}
.color__level-orangered{
    background-color: orangered;
}
.color__level-red{
    background-color: red;
}

.color__image{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -5px #7777;
    transition: width .1s;
    position: absolute;
    right: .5em;
}

.large__color{
    width: 95%;
}


@keyframes favanimation {
    0%{
        transform: scale(1.2);
    }
    20%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}