.container__color{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    box-sizing: border-box;

    background-color: #ffff;
    border: 1px solid #aaaa;

    transition: transform .2s;
}
/* .container__color:hover{
    transform: translateY(-3px);
} */
.info{
    display: flex;
    flex-direction: column;
    font-size: medium;
    color: #1f1f1f;
}
.list{
    list-style: none;
    margin: 0;
    padding: .5rem;
}
.actions{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: .2rem;
}
.color__image{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #7777;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.favourite__icon{
    width: 1.1rem;
    transition: transform .3s;
}
.favourite__icon:hover{
    cursor: pointer;
    animation-name: favanimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.level__container{
    height: .5rem;
    width: 1.5rem;
    border: 1px solid #1f1f1f;
    border-radius: 2px;
}
.color__level{
    width: 1px;
    height: 100%;
    transition: width .5s;
}
.level__container{
    transition: transform .3s;
}
.level__container:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.color__level-green{
    background-color: green;
}
.color__level-greenyellow{
    background-color: greenyellow;
}
.color__level-orange{
    background-color: orange;
}
.color__level-orangered{
    background-color: orangered;
}
.color__level-red{
    background-color: red;
}


@keyframes favanimation {
    0%{
        transform: scale(1.2);
    }
    20%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}