<div class="container">
    <app-modal-add-edit-company (addCompany)="onAddCompany($event)"
                                (updateCompany)="onUpdateCompany($event)"
                                (closeModal)="onCloseModal()"
                                [currentCompany]="currentCompany"
                                *ngIf="openModal">
    </app-modal-add-edit-company>
    <button type="button"
            (click)="onOpenModal()"
            class="btn__addColor">Nuevo</button>
    <table class="table">
        <thead>
            <!-- <th class="id_column">ID</th> -->
            <th>Acciones
            </th>
            <th>Descripcion</th>
            <th>Descr. Corta</th>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>
                    <app-actions    (edit)="onEditCompany(company)"
                                    (delete)="onDeleteCompany(company)">
                    </app-actions>
                </td>
                <td>{{ company.desc }}</td>
                <td>{{ company.short_desc }}</td>
            </tr>
        </tbody>
    </table>
</div>